{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<form action= "{{ url_for('analytics.analize') }}" method="POST">
    <h2>{{ title }} </h2>
    <div class="form-group filter-date">
        <select class="select-filter" name="byDate" method="GET" action="/">
            {% for byDate in byDates %}
                {% if sel_tvalue == byDate %}
                    <option value="{{ byDate }}" selected="'selected">{{ byDate }}</option>
                {% else %}
                    <option value="{{ byDate }}">{{ byDate }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="btn btn-outline-info" type="submit" value="Submit" />
    </div>
    <fieldset class="form-group">
    <legend class="border-bottom mb-4"> {{ legend }}</legend>
        <table class="table table-bordered table-hover myTable">
            <thead>
            <tr bgcolor="#00FFFF">
                <th>Date</th>
                <th>Sum</th>
                <th>Mean</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
                {% for response in resAnalyzeDatas %}
                    <tr>
                        <td>{{ response['date'] }}</td>
                        <td>${{ "{:,d}".format(response['sum']) }}</td>
                        <td>${{ "{:,d}".format(response['mean']) }}</td>
                        <td>{{ response['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
    <article>
        <img src="{{ url_for('static', filename='images/' + plt_name) }}" alt="Chart" height="auto" width="100%">
    </article>
</form>
{% endif %}
{% endblock content %}