{% extends "layout.html" %}
{% block content %}
    <h2>{{ title }} </h2>
    {# <article class="media content-section"> #}
        <table class="table table-bordered table-hover myTable">
            <thead>
            <tr bgcolor="#00FFFF">
                <th>Report Title</th>
                <th>Summary</th>
                <th>Published</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports.items %}

                {% if current_user.is_authenticated and report.status=="0" %}
                    <tr>
                        <td><a class="archive-title" href="{{ url_for('reports.report', report_id=report.id) }}">{{ report.title}} (Draft)</a></td>
                        <td>{{ report.summary }}</td>
                        <td>{{ report.date_published }}</td>
                        <td> ${{ "{:,d}".format(report.price) }}</td>
                    </tr>
                {% elif report.status == "1" %}
                    <tr>
                        <td><a class="archive-title" href="{{ url_for('reports.report', report_id=report.id) }}">{{ report.title}}</a></td>
                        <td>{{ report.summary }}</td>
                        <td>{{ report.date_published }}</td>
                        <td> ${{ "{:,d}".format(report.price) }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
        <div class="media-body">
            <strong class="article-content">New reports will be coming soon. <br/> If you have any questions, please <a class="nav-item" href="{{ url_for('contacts.new_contact') }}" style="display:inline">Contact</a></strong>
        </div>
    {# </article> #}

    {% for page_num in reports.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if reports.page == page_num %}
            {% if title == "Market Report List" %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-info mb-4" href="{{ url_for('sub_menu.search', page=page_num, search=q) }}">{{ page_num }}</a>
            {% endif %}
        {% else%}
            {% if title == "Market Report List" %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('sub_menu.search', page=page_num, search=q) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% else %}
        ...
    {% endif %}
    {% endfor %}

{% endblock content %}