<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if title %}
        <title>Market Report - {{ title }} </title>
    {% else %}
        <title>Market Report</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Market Report</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('contacts.new_contact') }}">Contact</a>
                        {% if session.Order and current_user.is_authenticated%}
                        <a class="nav-item nav-link" href="{{ url_for('reports.show_cart') }}">Cart <font color="#FFA500">({{ session.get('Order')|length }})</font></a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('reports.show_cart') }}">Cart</a>
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                       {% if current_user.is_authenticated and current_user.is_admin() %}
                        <li class="'nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ url_for('reports.show_customers')}}">Customers</a>
                                <a class="dropdown-item" href="{{ url_for('analytics.analize')}}">Orders Analytics</a>
                                <a class="dropdown-item" href="{{ url_for('reports.show_orders')}}">Orders</a>
                                <a class="dropdown-item" href="{{ url_for('reports.new_report')}}">New Report</a>
                                <a class="dropdown-item" href="{{ url_for('reports.upload_list')}}">Upload Report List</a>
                            </div>
                        </li>
{# https://www.sejuku.net/blog/75948 #}
                        <a class="nav-item nav-link" href="{{ url_for('users.account')}}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.logout')}}">Logout</a>
                        {% elif current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('users.account')}}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.logout')}}">Logout</a>
                       {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login')}}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register')}}">Register</a>
                       {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-3">
                {% include "sub_menu.html" %}
            </div>
        </div>
    </main>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/handle_table.js"></script>
    <script src="/static/js/get_select_date.js"></script>
    <script src="/static/js/menu_toggle.js"></script>
</body>
</html>


