{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_admin() %}
    <h2>{{ title }} ({{ orders.total }}) </h2>
        <table class="table table-bordered table-hover ordersTable">
            <thead>
                <tr bgcolor="#00FFFF">
                    <th>Order Date</th>
                    <th>Order ID</th>
                    <th>Report ID</th>
                    <th>User ID</th>
                    <th>Order Price</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders.items %}
                <tr>
                    <td>{{ order.date_order.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ order.id }}</td>
                    <td><a class="archive-title" href="{{ url_for('reports.show_orders_report', report_id=order.report_id) }}">{{ order.report_id }}</a></td>
                    <td><a class="archive-title" href="{{ url_for('reports.show_orders_user', user_id=order.user_id) }}">{{ order.user_id }}</a></td>
                    <td> ${{ "{:,d}".format(order.order_price) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Total</th>
                <td>
                    {% if summary %}
                    ${{ "{:,d}".format(summary['amount']) }}
                    {% endif %}
                </td>
                <th>Average</th>
                <td>
                    {% if summary %}
                    ${{ "{:,d}".format(summary['average']) }}
                    {% endif %}
                </td>
                <th>Count</th>
                <td>
                    {% if summary %}
                    {{ "{:,d}".format(summary['count']) }}
                    {% endif %}
                </td>
            </tr>
        </table>
    {% for page_num in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if orders.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('reports.show_orders', page=page_num) }}">{{ page_num }}</a>
        {% else%}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('reports.show_orders', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}