{% extends "layout.html" %}
{% block content %}
    <h2>{{ title }} </h2>
    {% if session.Order %}
    <article class="media content-section">
        <table class="table table-bordered table-hover">
            <thead>
                <tr bgcolor="#00FFFF">
                    <th>Report Title</th>
                    <th>Price</th>
                    <th>QTY</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in session.get('Order') %}
                <tr>
                    <td><a class="archive-title" href="{{ url_for('reports.report', report_id=cart.id) }}">{{ cart.title }}</a></td>
                    <td>${{ "{:,d}".format(cart.order_price) }}</td>
                    <td>{{ cart.qty }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Total</th>
                <td>${{ "{:,d}".format(summary['amount']) }}</td>
            </tr>
        </table>
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        <article class="media content-section">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>First Name</th>
                    <td>{{ current_user.firstname }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ current_user.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ current_user.email }}</td>
                </tr>
            </table>
        </article>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </form>
    </div>
    {% endif %}

{% endblock content %}